@import 'src/assets/variables';

.char-container {
  color: map-get(map-get($palette, gray), base);
  position: relative;
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 9px;

  img {
    width: 100%;
    height: auto;
  }

  .char-info-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
    border-radius: 9px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 49.32%, rgba(0, 0, 0, 0.48) 72.5%);

    .char-id {
      display: flex;
      flex-direction: row-reverse;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      color: map-get($palette, white);
    }

    .char-bottom-info {
      display: flex;
      justify-content: space-between;

      h3 {
        margin-top: 0;
        margin-bottom: 4px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        color: map-get($palette, light);
      }

      .char-side-info {
        display: flex;
        align-items: flex-end;
        column-gap: 4px;
      }
    }
  }
}

// INDICATOR ICONS

.Alive {
  text-shadow: 0 0 3px map-get($palette, black);
  color: map-get($palette, red);
}

.Dead {
  text-shadow: 0 0 3px map-get($palette, black);
  color: map-get($palette, white);
}

.Male {
  text-shadow: 0 0 2px map-get(map-get($palette, teal), dark);
  color: map-get(map-get($palette, teal), base);
}

.Female {
  text-shadow: 0 0 2px map-get(map-get($palette, pink), dark);
  color: map-get(map-get($palette, pink), base);
}

.Genderless {
  text-shadow: 0 0 2px map-get(map-get($palette, yellow), dark);
  color: map-get(map-get($palette, yellow), base);
}
