@import 'src/assets/variables';

@mixin nav-element {
  border-radius: 50%;
  aspect-ratio: 1;
  width: 48px;
  color: map-get($palette, light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginator {
  display: flex;
  justify-content: flex-end;
  margin: 16px 10vw 12px;
  gap: 4px;

  .current {
    @include nav-element;
    background-color: map-get($palette, soft-dark-magenta);
    cursor: default;
  }

  .nav-btn {
    @include nav-element;
    border: 1px solid map-get($palette, soft-dark-magenta);

    span {
      &.previous-icon {
        padding-right: 3px;
      }

      &.next-icon {
        padding-left: 3px;
      }
    }

    &:hover {
      border-color: map-get($palette, white);
    }

    &.disabled {
      border-color: map-get(map-get($palette, gray), dark);
      color: map-get(map-get($palette, gray), dark);
    }
  }
}
