@mixin nav-element {
  border-radius: 50%;
  aspect-ratio: 1;
  width: 48px;
  color: #FAFAFA;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginator {
  display: flex;
  justify-content: flex-end;
  margin: 16px 10vw 12px;
  gap: 4px;

  .current {
    @include nav-element;
    background-color: #C0084B;
    cursor: default;
  }

  .nav-btn {
    @include nav-element;
    border: 1px solid #C0084B;

    span {
      &.previous-icon {
        padding-right: 3px;
      }

      &.next-icon {
        padding-left: 3px;
      }
    }

    &:hover {
      border-color: #FFFFFF;
    }

    &.disabled {
      border-color: #5e5e5e;
      color: #5e5e5e;
    }
  }
}
