<div class="filter-wrapper">
  <div class="filter-title">
    <span class="material-symbols-outlined">tune</span>
    <h2>FILTERS:</h2>
  </div>
  <div class="filters">
    <div class="filter">
      <fieldset>
        <legend>STATUS</legend>
        <div class="choices">
          <label *ngFor="let status of statusOptions">
            <input type="radio" name="status" [value]="status" (click)="filter('status', status)"
                   [checked]="queryParams.status === status"/>
            {{ status | lowercase }}
          </label>
        </div>
      </fieldset>
    </div>
    <div class="filter">
      <fieldset>
        <legend>GENDER</legend>
        <div class="choices">
          <label *ngFor="let gender of genderOptions">
            <input type="radio" name="gender" [value]="gender" (click)="filter('gender', gender)"
                   [checked]="queryParams.gender === gender"/>
            {{ gender | lowercase }}
          </label>
        </div>
      </fieldset>
    </div>
  </div>
</div>
