@import 'src/assets/variables';

.filter-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  margin: 12px 10vw;

  .filter-title {
    display: flex;
    align-items: center;
    gap: 6px;

    h2 {
      margin: 0;
    }
  }

  .filters {
    display: flex;
    align-items: center;
    gap: 12px;

    .filter {
      fieldset {
        border: none;

        .choices {
          display: flex;
          gap: 12px;
          flex-wrap: wrap;

          label {
            cursor: pointer;
            display: inline-flex;

            input {
              appearance: none;

              border-radius: 50%;
              width: 16px;
              height: 16px;

              background-color: transparent;
              border: 2px solid map-get($palette, light);
              transition: 0.2s all linear;
              margin-right: 5px;

              cursor: pointer;

              &:checked {
                border: 3px solid white;
                background-color: map-get($palette, soft-dark-magenta);
              }
            }
          }
        }

      }
    }
  }
}
