<div class="filter-wrapper">
  <div class="filter-title">
    <span class="material-symbols-outlined">tune</span>
    <h2>FILTERS:</h2>
  </div>
  <div class="filters">
    <div class="filter">
      <fieldset>
        <legend>STATUS</legend>
        <div class="choices">
          <label>
            <input type="radio" name="status" value="Alive" (click)="filter('status', 'Alive')"
                   [checked]="queryParams.status === 'Alive'"/>
            alive
          </label>

          <label>
            <input type="radio" name="status" value="Dead" (click)="filter('status', 'Dead')"
                   [checked]="queryParams.status === 'Dead'"/>
            dead
          </label>

          <label>
            <input type="radio" name="status" value="unknown" (click)="filter('status', 'unknown')"
                   [checked]="queryParams.status === 'unknown'"/>
            unknown
          </label>
        </div>
      </fieldset>
    </div>
    <div class="filter">
      <fieldset>
        <legend>GENDER</legend>
        <div class="choices">
          <label>
            <input type="radio" name="gender" value="Male" (click)="filter('gender', 'Male')"
                   [checked]="queryParams.gender === 'Male'"/>
            male
          </label>

          <label>
            <input type="radio" name="gender" value="Female" (click)="filter('gender', 'Female')"
                   [checked]="queryParams.gender === 'Female'"/>
            female
          </label>

          <label>
            <input type="radio" name="gender" value="Genderless"
                   (click)="filter('gender', 'Genderless')" [checked]="queryParams.gender === 'Genderless'"/>
            genderless
          </label>

          <label>
            <input type="radio" name="gender" value="unknown" (click)="filter('gender', 'unknown')"
                   [checked]="queryParams.gender === 'unknown'"/>
            unknown
          </label>
        </div>
      </fieldset>
    </div>
  </div>
</div>
